.vs/

src/Domain/obj/

src/Domain/bin/

src/Infrastructure/bin/

src/Infrastructure/obj/

src/Presentation.WebAPI/bin/

src/Presentation.WebAPI/obj/

src/DbMigrator/bin/

src/DbMigrator/obj/

tests/Domain.Tests/obj/

tests/Domain.Tests/bin/

tests/Infrastructure.Tests/obj/

tests/Infrastructure.Tests/bin/

tests/Presentation.WebAPI.Tests/obj/

tests/Presentation.WebAPI.Tests/bin/

**/Properties/launchSettings.json

dependencies/ConfigurationCollector/bin/
# Sonar Scanner working directories
.sonar/
.scannerwork/
.sonarqube/
results/

*.bkp

*.dtmp

*.user

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
CalendarApi/Presentation.WebAPI/obj/project.nuget.cache

CalendarApi/Presentation.WebAPI/obj/project.assets.json